# PostgreSQL
POSTGRES_USER=flashpay
POSTGRES_PASSWORD=flashpay_secret
POSTGRES_DB=flashpay_db
POSTGRES_PORT=5432

# Usada pelo golang-migrate e pelo backend Go
DATABASE_URL=postgres://flashpay:flashpay_secret@postgres:5432/flashpay_db?sslmode=disable

# Backend Go
APP_PORT=8080
APP_ENV=development
CORS_ALLOWED_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=FlashPay_Dev_Secret_2026_ChangeMe!
JWT_EXPIRATION_HOURS=24

# Gateway simulado
GATEWAY_FAILURE_RATE=0.05
GATEWAY_MIN_DELAY_MS=100
GATEWAY_MAX_DELAY_MS=500

# Frontend React
VITE_API_BASE_URL=http://localhost:8080
